{% extends "template-default.njk" %}

{% block content %}

<main class="margin-bottom-2">

  <section class="margin-bottom-3">
    <h2 id="flex">Flexbox layout (12 fractions)</h2>
    <div class="display-flex gap-1">
     	<div class="width-12">
        <div class="bg-primary padding-1 outline"><code>12/12</code></div>
      </div>
      <div class="width-12 width-6-md">
        <div class="bg-primary padding-1 outline"><code>6/12</code></div>
      </div>
      <div class="width-12 width-6-md">
        <div class="bg-primary padding-1 outline"><code>6/12</code></div>
      </div>
      <div class="width-12 width-6-md width-4-lg">
        <div class="bg-primary padding-1 outline"><code>4/12</code></div>
      </div>
      <div class="width-12 width-6-md width-4-lg">
        <div class="bg-primary padding-1 outline"><code>4/12</code></div>
      </div>
      <div class="width-12 width-6-md width-4-lg">
        <div class="bg-primary padding-1 outline"><code>4/12</code></div>
      </div>
      <div class="width-12 width-3-md">
        <div class="bg-primary padding-1 outline"><code>3/12</code></div>
      </div>
      <div class="width-12 width-3-md">
        <div class="bg-primary padding-1 outline"><code>3/12</code></div>
      </div>
      <div class="width-12 width-6-md width-3-lg">
        <div class="bg-primary padding-1 outline"><code>3/12</code></div>
      </div>
      <div class="width-12 width-6-md width-3-lg">
        <div class="bg-primary padding-1 outline"><code>3/12</code></div>
      </div>
    </div>
    <p><!--spacer--></p>
<pre><code>&lt;div class="display-flex gap-1"&gt;
  &lt;div class="width-6"&gt;...&lt;/div&gt;
  &lt;div class="width-6"&gt;...&lt;/div&gt
  ...
&lt;/div&gt;</code></pre>
  </section>


  <section class="margin-bottom-3">
    <h2 id="flexible-widths">Flexible widths</h2>
    <p>Supports inline values: <code>--min-width: <em>&lt;value&gt;</em></code> </p>

    <div class="display-flex gap-1 | bg-primary padding-y-1 outline | margin-bottom-2">
      <div class="width-max | bg-primary padding-1 outline">
        <code>.width-max</code>
      </div>
      <div class="width-min | bg-primary padding-1 outline">
        <code>.width-min</code>
      </div><!--/flex-->
    </div>

    <div class="display-flex gap-1 | bg-primary padding-y-1 outline">
      <div class="width-auto | bg-primary padding-1 outline">
        <code>.width-auto</code>
      </div>
      <div class="width-auto | bg-primary padding-1 outline">
        <code>.width-auto</code>
      </div>
    </div>
  </section>


  <section class="margin-bottom-3">
    <h2 id="offset">Offset (1-11)</h2>
    <p><code>.display-flex</code></p>
    <div class="display-flex | bg-primary padding-y-1 outline">
      <div class="width-4 offset-2 | bg-primary padding-1 outline">
        <code>.offset-2</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->
  </section>


  <section class="margin-bottom-3">
    <h2 id="justify">Justify (main axis)</h2>
    <p><code>.justify-start</code></p>
    <div class="display-flex justify-start gap-1 | bg-primary padding-y-1 outline">
      <div class="width-min | bg-primary padding-1 outline">
        <code>1</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>2</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>3</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->
    <p><!--spacer--></p>
    <p><code>.justify-center</code></p>
    <div class="display-flex justify-center gap-1 | padding-y-1 bg-primary outline">
      <div class="width-min | bg-primary padding-1 outline">
        <code>1</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>2</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>3</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->
    <p><!--spacer--></p>
    <p><code>.justify-end</code></p>
    <div class="display-flex justify-end gap-1 | padding-y-1 bg-primary outline">
      <div class="width-min | bg-primary padding-1 outline">
        <code>1</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>2</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>3</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->
    <p><!--spacer--></p>
    <p><code>.justify-between</code></p>
    <div class="display-flex justify-between | padding-y-1 bg-primary outline">
      <div class="width-min | bg-primary padding-1 outline">
        <code>1</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>2</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>3</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->
    <p><!--spacer--></p>
    <p><code>.justify-around</code></p>
      <div class="display-flex justify-around | padding-y-1 bg-primary outline">
        <div class="width-min | bg-primary padding-1 outline">
          <code>1</code>
        </div><!-- /.col -->
        <div class="width-min | bg-primary padding-1 outline">
          <code>2</code>
        </div><!-- /.col -->
        <div class="width-min | bg-primary padding-1 outline">
          <code>3</code>
        </div><!-- /.col -->
      </div><!-- /.display-flex -->
    <p><!--spacer--></p>
    <p><code>.justify-evenly</code></p>
    <div class="display-flex justify-evenly | padding-y-1 bg-primary outline">
      <div class="width-min | bg-primary padding-1 outline">
        <code>1</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>2</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>3</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->
  </section>



  <section class="margin-bottom-3">
    <h2 id="align">Align (cross axis)</h2>
    <p class="font-weight-700">Container:</p>
    <div class="display-flex gap-1 margin-bottom-2">
      <div class="width-12 width-3-md">
        <p><code>.align-stretch</code></p>
        <div class="display-flex | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto bg-primary padding-0.5 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto bg-primary padding-0.5 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div><!-- /layout colum-->
      <div class="width-12 width-3-md">
        <p><code>.align-start</code></p>
        <div class="display-flex align-start | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div><!-- /layout colum-->
      <div class="width-12 width-3-md">
        <p><code>.align-center</code></p>
        <div class="display-flex align-center | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div>
      <div class="width-12 width-3-md">
        <p><code>.align-end</code></p>
          <div class="display-flex align-end | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
            <div class="width-auto | bg-primary padding-0.5 outline">
              <code>1</code>
            </div><!-- /.col -->
            <div class="width-auto | bg-primary padding-0.5 outline">
              <code>2</code>
            </div><!-- /.col -->
            <div class="width-auto | bg-primary padding-0.5 outline">
              <code>3</code>
            </div><!-- /.col -->
          </div><!-- /.display-flex -->
      </div>
    </div>


    <p class="font-weight-700">Flex items:</p>
    <div class="display-flex gap-1">
      <div class="width-12 width-3-md">
        <p><code>.align-self-stretch</code></p>
        <div class="display-flex | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div>
      <div class="width-12 width-3-md">
        <p><code>.align-self-start</code></p>
        <div class="display-flex | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
          <div class="width-auto align-self-start | bg-primary padding-0.5 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div>
      <div class="width-12 width-3-md">
        <p><code>.align-self-center</code></p>
        <div class="display-flex | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
          <div class="width-auto align-self-center | bg-primary padding-0.5 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div>
      <div class="width-12 width-3-md">
        <p><code>.align-self-end</code></p>
        <div class="display-flex | padding-y-1 bg-primary outline text-align-center aspect-ratio-1/1">
          <div class="width-auto align-self-end | bg-primary padding-0.5 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-0.5 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div>
    </div>
  </section>

  <section class="margin-bottom-3">
    <h2 id="order">Order</h2>
    <p><code>.order-last</code></p>

    <div class="display-flex gap-1 | bg-primary padding-y-1 outline">
      <div class="width-min order-last | bg-primary padding-1 outline">
        <code>(1) .order-last</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>2</code>
      </div><!-- /.col -->
      <div class="width-min | bg-primary padding-1 outline">
        <code>3</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->

    <p><!--spacer--></p>
    <p><code>.order-first</code></p>
    <div class="display-flex gap-1 | bg-primary padding-y-1 outline">
      <div class="width-4-xs | bg-primary padding-1 outline">
        <code>1</code>
      </div><!-- /.col -->
      <div class="width-4-xs | bg-primary padding-1 outline">
        <code>2</code>
      </div><!-- /.col -->
      <div class="width-4-xs order-first | bg-primary padding-1 outline">
        <code>(3) .order-first</code>
      </div><!-- /.col -->
    </div><!-- /.display-flex -->
  </section>


  <section class="margin-bottom-3">
    <h2 id="direction">Direction (Row)</h2>
    <p><code>.display-flex</code> (default)</p>
      <div class="display-flex gap-1 | bg-primary padding-y-1 outline">
        <div class="width-min | bg-primary padding-1 outline">
          <code>1</code>
        </div><!-- /.col -->
        <div class="width-min | bg-primary padding-1 outline">
          <code>2</code>
        </div><!-- /.col -->
        <div class="width-min | bg-primary padding-1 outline">
          <code>3</code>
        </div><!-- /.col -->
      </div><!-- /.display-flex -->
    <p><!--spacer--></p>
    <p><code>.display-flex.reverse</code></p>
      <div class="display-flex gap-1 reverse | bg-primary padding-y-1 outline">
        <div class="width-min | bg-primary padding-1 outline">
          <code>1</code>
        </div><!-- /.col -->
        <div class="width-min | bg-primary padding-1 outline">
          <code>2</code>
        </div><!-- /.col -->
        <div class="width-min | bg-primary padding-1 outline">
          <code>3</code>
        </div><!-- /.col -->
      </div><!-- /.display-flex -->
    <p><!--spacer--></p>

    <h2 id="direction">Direction (Column)</h2>
    <div class="display-flex gap-1">
      <div class="width-auto">
        <p><code>.column</code></p>
          <div class="display-flex column gap-1 | bg-primary padding-y-1 outline">
            <div class="width-auto | bg-primary padding-1 outline">
              <code>1</code>
            </div><!-- /.col -->
            <div class="width-auto | bg-primary padding-1 outline">
              <code>2</code>
            </div><!-- /.col -->
            <div class="width-auto | bg-primary padding-1 outline">
              <code>3</code>
            </div><!-- /.col -->
          </div><!-- /.display-flex -->
      </div>
      <div class="width-auto">
        <p><code>.column.reverse</code></p>
        <div class="display-flex column reverse gap-1 | bg-primary padding-y-1 outline">
          <div class="width-auto | bg-primary padding-1 outline">
            <code>1</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-1 outline">
            <code>2</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-1 outline">
            <code>3</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div>
      <div class="width-auto">
        <p><code>.column</code> (variable height)</p>
        <div class="display-flex column gap-1 | bg-primary padding-y-1 outline" style="height: 350px;">
          <div class="width-min | bg-primary padding-1 outline">
            <code>.width-min</code>
          </div><!-- /.col -->
          <div class="width-auto | bg-primary padding-1 outline">
            <code>.width-auto</code>
          </div><!-- /.col -->
          <div class="width-min | bg-primary padding-1 outline">
            <code>.width-min</code>
          </div><!-- /.col -->
        </div><!-- /.display-flex -->
      </div>
    </div>
  </section>

  <section class="margin-bottom-3">
    <h2 id="gap">Gap</h2>
    <p><code>.display-flex.gap-<em>n</em> [0-5]</code></p>
    <div class="display-flex gap-1 | margin-bottom-2">
      <div class="width-auto | bg-primary padding-1 outline">
        <code>.width-auto</code>
      </div>
      <div class="width-auto | bg-primary padding-1 outline">
        <code>.width-auto</code>
      </div>
      <div class="width-auto | bg-primary padding-1 outline">
        <code>.width-auto</code>
      </div>
    </div>
  </div>
  <p><code>.display-flex[style="--gap: <em>&lt;length&gt;</em>"]</code></p>
  <div class="display-flex | margin-bottom-1" style="--gap: 1em;">
    <div class="width-auto | bg-primary padding-1 outline">
      <code>.width-auto</code>
    </div>
    <div class="width-auto | bg-primary padding-1 outline">
      <code>.width-auto</code>
    </div>
    <div class="width-auto | bg-primary padding-1 outline">
      <code>.width-auto</code>
    </div>
  </section>

  <section class="margin-bottom-3">
    <h2 id="breakpoints">Breakpoints</h2>
    <table>
      <thead>
        <tr>
          <th>Class</th>
          <th>Breakpoint</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>(none)</td>
          <td><code>0</code> and up</td>
        </tr>
        <tr>
          <td><code>xs</code></td>
          <td><code>0</code> and up</td>
        </tr>
        <tr>
          <td><code>sm</code></td>
          <td><code>30em</code> and up</td>
        </tr>
        <tr>
          <td><code>md</code></td>
          <td><code>42em</code> and up</td>
        </tr>
        <tr>
          <td><code>lg</code></td>
          <td><code>57em</code> and up</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="margin-bottom-3">
    <h2 id="containers">Containers</h2>
    <table>
      <thead>
        <tr>
          <th>Class</th>
          <th>Width</th>
          <th>Max width</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>.container</code></td>
          <td><code>auto</code></td>
          <td><code>1200px</code></td>
        </tr>
        <tr>
          <td><code>.container-fluid</code></td>
          <td><code>100%</code></td>
          <td><code>none</code></td>
        </tr>
      </tbody>
    </table>
  </section>
</main><!-- role main -->

{% endblock %}
