{% extends "template-default.njk" %}

{% block content %}

  <style>
    .bg-primary { background-color: rgba(179, 157, 219,0.5); }
    .border-1 { border: 1px solid rgba(179, 157, 219,1.0); }
    code { background-color: transparent; }
  </style>

  <main role="main">
    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M0 2.5 L16 2.5"></path><path d="M0 8 L16 8"></path><path d="M0 13.5 L16 13.5"></path></svg>
        Rows and columns (12)
      </h2>
      <p><code>.row</code></p>
      <div class="row bg-primary padding-y-1 border-1">
        <div class="col">
          <div class="bg-primary padding-1 border-1"><code>.col</code></div>
        </div><!-- /.col -->
        <div class="col">
          <div class="bg-primary padding-1 border-1"><code>.col</code></div>
        </div><!-- /.col -->
        <div class="col">
          <div class="bg-primary padding-1 border-1"><code>.col</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>

    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M8 1.5 L14.5 8 L8 14.5 L1.5 8 z"></path></svg>
        Auto-widths
      </h2>
      <p><code>.row</code></p>
      <div class="row bg-primary padding-y-1 border-1">
        <div class="col-md-auto">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-auto</code></div>
        </div><!-- /.col -->
        <div class="col-md-auto">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-auto</code></div>
        </div><!-- /.col -->
        <div class="col-md-auto">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-auto</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>

    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M5 1.0606601717798212 L11.939339828220179 8 L5 14.939339828220179"></path></svg>
        Offsets (11)
      </h2>
      <p><code>.row</code></p>
      <div class="row bg-primary padding-y-1 border-1">
        <div class="col-xs-4 col-xs-offset-2">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-offset-2</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>

    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M0 8 L14.5 8"></path><path d="M7.560660171779821 1.0606601717798212 L14.5 8 L7.560660171779821 14.939339828220179"></path></svg>
        Justify horizontal</h2>
      <p><code>.row.justify-xs-center</code></p>
      <div class="row justify-xs-center bg-primary padding-y-1">
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row.justify-xs-right</code></p>
      <div class="row justify-xs-right bg-primary padding-y-1">
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row.justify-xs-around</code></p>
      <div class="row justify-xs-around bg-primary padding-y-1">
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row.justify-xs-between</code></p>
      <div class="row justify-xs-between bg-primary padding-y-1">
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
        <div class="col-xs-3">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-3</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>

    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M8 0 L8 14.5"></path><path d="M1.0606601717798212 7.560660171779821 L8 14.5 L14.939339828220179 7.560660171779821"></path></svg>
        Align vertical
      </h2>
      <p><code>.row.align-xs-top</code></p>
      <div class="row align-xs-top bg-primary padding-y-1 border-1" style="min-height:150px;">
        <div class="col-xs-12">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-12</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row.align-xs-center</code></p>
      <div class="row align-xs-center bg-primary padding-y-1 border-1" style="min-height:150px;">
        <div class="col-xs-12">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-12</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row.align-xs-bottom</code></p>
      <div class="row align-xs-bottom bg-primary padding-y-1 border-1" style="min-height:150px;">
        <div class="col-xs-12">
          <div class="bg-primary padding-1 border-1"><code>.col-xs-12</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>

    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M1.5 13 L14.5 13 L8 1.7416697508022985 z"></path></svg>
        Order
      </h2>
      <p><code>.row</code></p>
      <div class="row bg-primary padding-y-1 border-1">
        <div class="col-xs-4 order-xs-last">
          <div class="bg-primary padding-1 border-1"><code>.order-xs-last (1)</code></div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <div class="bg-primary padding-1 border-1"><code>2</code></div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <div class="bg-primary padding-1 border-1"><code>3</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row</code></p>
      <div class="row bg-primary padding-y-1 border-1">
        <div class="col-xs-4">
          <div class=" bg-primary padding-1 border-1"><code>1</code></div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <div class=" bg-primary padding-1 border-1"><code>2</code></div>
        </div><!-- /.col -->
        <div class="col-xs-4 order-xs-first">
          <div class=" bg-primary padding-1 border-1"><code>.order-xs-first (3)</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row.row-reverse</code></p>
      <div class="row row-reverse bg-primary padding-y-1 border-1">
        <div class="col-xs-4">
          <div class="bg-primary padding-1 border-1"><code>1</code></div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <div class="bg-primary padding-1 border-1"><code>2</code></div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <div class="bg-primary padding-1 border-1"><code>3</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br>
      <p><code>.row.column-reverse</code></p>
      <div class="row column-reverse justify-xs-center bg-primary padding-y-1 border-1">
        <div class="col-xs">
          <div class="bg-primary padding-1 border-1"><code>1</code></div>
        </div><!-- /.col -->
        <div class="col-xs">
          <div class="bg-primary padding-1 border-1"><code>2</code></div>
        </div><!-- /.col -->
        <div class="col-xs">
          <div class="bg-primary padding-1 border-1"><code>3</code></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>

    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M3 1.5 L3 14.5 L14.258330249197702 8 z"></path></svg>
        Breakpoints
      </h2>
      <table>
        <thead>
          <tr>
            <th><code>Class</code></th>
            <th><code>Scope</code></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>.col-</code></td>
            <td><code>0</code> and up</td>
          </tr>
          <tr>
            <td><code>.col-xs-</code></td>
            <td><code>0</code> and up</td>
          </tr>
          <tr>
            <td><code>.col-sm-</code></td>
            <td><code>{{ 34 * 16 }}px</code> and up</td>
          </tr>
          <tr>
            <td><code>.col-md-</code></td>
            <td><code>{{ 48 * 16 }}px</code> and up</td>
          </tr>
          <tr>
            <td><code>.col-lg-</code></td>
            <td><code>{{ 64 * 16 }}px</code> and up</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="margin-bottom-1">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;overflow:visible;"><path d="M1.5 1.5 L14.5 1.5 L14.5 14.5 L1.5 14.5 z"></path></svg>
        Containers
      </h2>
      <table>
        <thead>
          <tr>
            <th><code>Class</code></th>
            <th><code>Width</code></th>
            <th><code>Max width</code></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>.container</code></td>
            <td><code>auto</code></td>
            <td><code>1200px</code></td>
          </tr>
          <tr>
            <td><code>.container-fluid</code></td>
            <td><code>100%</code></td>
            <td><code>none</code></td>
          </tr>
        </tbody>
      </table>
    </section>
  </main><!-- role main -->

{% endblock %}
