<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ package.name }} - {{ package.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/html.css/dist/html.min.css"/>
    <link rel="stylesheet" href="styles.min.css"/>
    <style>
      .bg-primary { background-color: rgba(179, 157, 219,0.5); }
      .border-1 { border: 1px solid rgba(179, 157, 219,1.0); }
      .padding-1 { padding: 1rem; }
      .padding-y-1 { padding-top: 1rem; padding-bottom: 1rem; }
      .margin-bottom-1 { margin-bottom: 1rem; }
      .text-align-center { text-align: center; }
      .icon { vertical-align: middle; }
      code { background-color: transparent; padding: 0; color: inherit; }
    </style>
  </head>
  <body>
    {% block content %}
      {# content will be injected here #}
    {% endblock %}
  </body>
</html>
