<nav role="navigation">
  <a href="./">Home</a>
  /
  <a href="./grid.html">Grid</a>
  /
  <a href="{{ package.homepage }}">Repository</a>
  /
  Author
  <img src="logo-twitter.svg" alt="twitter" width="15" /><a href="https://twitter.com/heyallanmoreno">@heyallanmoreno</a>
</nav>
