<!doctype html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{ package.name }} - {{ package.description }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.min.css"/>
  <link rel="stylesheet" href="layout.min.css"/>
  <link rel="stylesheet" href="properties.min.css"/>
  <link rel="stylesheet" href="./{{ package.keyword }}.min.css"/>
  <style>
    .bg-primary { background-color: rgba(2, 117, 217, 0.2); }
    .border-1 { border: 1px solid rgba(2, 117, 217, 0.4); }
    .outline { outline: 1px solid rgba(2, 117, 217, 0.4); outline-offset: -1px; }
    .outline-dashed { outline: 1px dashed rgba(2, 117, 217, 0.4); outline-offset: -1px; }
    .flex code, .grid code { background-color: transparent; }
  </style>
</head>
  <body class="">
    {% include "component-default-header.njk" %}

    {% block content %}
      {# content will be injected here #}
    {% endblock %}

    {% include "component-default-footer.njk" %}
  </body>
</html>
