.align-top,
.align-xs-top {
  align-items: flex-start;
}
.align-center,
.align-xs-center {
  align-items: center;
}
.align-bottom,
.align-xs-bottom {
  align-items: flex-end;
}

@media only screen and (min-width: 544px) {
  .align-sm-top {
    align-items: flex-start;
  }
  .align-sm-center {
    align-items: center;
  }
  .align-sm-bottom {
    align-items: flex-end;
  }
}

@media only screen and (min-width: 768px) {
  .align-md-top {
    align-items: flex-start;
  }
  .align-md-center {
    align-items: center;
  }
  .align-md-bottom {
    align-items: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  .align-lg-top {
    align-items: flex-start;
  }
  .align-lg-center {
    align-items: center;
  }
  .align-lg-bottom {
    align-items: flex-end;
  }
}
