.col,
[class*="col-"] {
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 0;
}

.column {
  /* generic column */
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
}

.col,
.col-auto,
.col-xs-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.grow-0 {
  flex-grow: 0;
}
.grow-1 {
  flex-grow: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
.shrink-1 {
  flex-shrink: 1;
}

.col-1,
.col-xs-1 {
  flex-basis: 8.333%;
}
.col-2,
.col-xs-2 {
  flex-basis: 16.667%;
}
.col-3,
.col-xs-3 {
  flex-basis: 25%;
}
.col-4,
.col-xs-4 {
  flex-basis: 33.333%;
}
.col-5,
.col-xs-5 {
  flex-basis: 41.667%;
}
.col-6,
.col-xs-6 {
  flex-basis: 50%;
}
.col-7,
.col-xs-7 {
  flex-basis: 58.333%;
}
.col-8,
.col-xs-8 {
  flex-basis: 66.667%;
}
.col-9,
.col-xs-9 {
  flex-basis: 75%;
}
.col-10,
.col-xs-10 {
  flex-basis: 83.333%;
}
.col-11,
.col-xs-11 {
  flex-basis: 91.667%;
}
.col-12,
.col-xs-12 {
  flex-basis: 100%;
}

@media only screen and (min-width: 544px) {
  .col-sm-1 {
    flex-basis: 8.333%;
  }
  .col-sm-2 {
    flex-basis: 16.667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.333%;
  }
  .col-sm-5 {
    flex-basis: 41.667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.333%;
  }
  .col-sm-8 {
    flex-basis: 66.667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.333%;
  }
  .col-sm-11 {
    flex-basis: 91.667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.333%;
  }
  .col-md-2 {
    flex-basis: 16.667%;
  }
  .col-md-3 {
    flex-basis: 25%;
  }
  .col-md-4 {
    flex-basis: 33.333%;
  }
  .col-md-5 {
    flex-basis: 41.667%;
  }
  .col-md-6 {
    flex-basis: 50%;
  }
  .col-md-7 {
    flex-basis: 58.333%;
  }
  .col-md-8 {
    flex-basis: 66.667%;
  }
  .col-md-9 {
    flex-basis: 75%;
  }
  .col-md-10 {
    flex-basis: 83.333%;
  }
  .col-md-11 {
    flex-basis: 91.667%;
  }
  .col-md-12 {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    flex-basis: 8.333%;
  }
  .col-lg-2 {
    flex-basis: 16.667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.333%;
  }
  .col-lg-5 {
    flex-basis: 41.667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.333%;
  }
  .col-lg-8 {
    flex-basis: 66.667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.333%;
  }
  .col-lg-11 {
    flex-basis: 91.667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
  }
}
