/*
* flex:
*   auto    = 1 1 auto (flex generic)
*   initial = 0 1 auto (column generic) (should not grow)
*   none    = 0 0 auto (column-min)
*   n       = n 1 0%   (column-auto)
*/

/* optional wrapper */
.flex-wrapper {
  overflow: hidden;
}

.flex {
  --grow: 1;
  --shrink: 1;
  --basis: auto;
  --min-width: 0;
  --direction: row;
  --wrap: wrap;
}

.flex {
  display: flex;
  flex-flow: var(--direction) var(--wrap);
}

/* generic flex item */
/* ----- ----- ----- ----- ----- */

.flex > * {
  /* generic flex item */
  flex: var(--grow) var(--shrink) var(--basis); /* 1 1 auto */

  /* allow basis 0 to shrink */
  min-width: var(--min-width);

  /* prevent basis 100% overflow */
  max-width: 100%;
}

[class*='width-'] {
  /* layout items should not grow */
  --grow: 0; /* 0 1 auto */
}

/* layout flex items */
/* ----- ----- ----- ----- ----- */

.width-1,    .width-1-xs    { --basis: 8.333%; }
.width-2,    .width-2-xs    { --basis: 16.667%; }
.width-3,    .width-3-xs    { --basis: 25%; }
.width-4,    .width-4-xs    { --basis: 33.333%; }
.width-5,    .width-5-xs    { --basis: 41.667%; }
.width-6,    .width-6-xs    { --basis: 50%; }
.width-7,    .width-7-xs    { --basis: 58.333%; }
.width-8,    .width-8-xs    { --basis: 66.667%; }
.width-9,    .width-9-xs    { --basis: 75%; }
.width-10,   .width-10-xs   { --basis: 83.333%; }
.width-11,   .width-11-xs   { --basis: 91.667%; }
.width-12,   .width-12-xs   { --basis: 100%; }
.width-min,  .width-min-xs  { --shrink: 0; } /* 0 0 auto */
.width-auto, .width-auto-xs { --grow: 1; --basis: 0; } /* 1 1 0 */

@media (--breakpoint-sm) {
  .width-1-sm    { --basis: 8.333%; }
  .width-2-sm    { --basis: 16.667%; }
  .width-3-sm    { --basis: 25%; }
  .width-4-sm    { --basis: 33.333%; }
  .width-5-sm    { --basis: 41.667%; }
  .width-6-sm    { --basis: 50%; }
  .width-7-sm    { --basis: 58.333%; }
  .width-8-sm    { --basis: 66.667%; }
  .width-9-sm    { --basis: 75%; }
  .width-10-sm   { --basis: 83.333%; }
  .width-11-sm   { --basis: 91.667%; }
  .width-12-sm   { --basis: 100%; }
  .width-min-sm  { --shrink: 0; }
  .width-auto-sm { --grow: 1; --basis: 0; }
}

@media (--breakpoint-md) {
  .width-1-md    { --basis: 8.333%; }
  .width-2-md    { --basis: 16.667%; }
  .width-3-md    { --basis: 25%; }
  .width-4-md    { --basis: 33.333%; }
  .width-5-md    { --basis: 41.667%; }
  .width-6-md    { --basis: 50%; }
  .width-7-md    { --basis: 58.333%; }
  .width-8-md    { --basis: 66.667%; }
  .width-9-md    { --basis: 75%; }
  .width-10-md   { --basis: 83.333%; }
  .width-11-md   { --basis: 91.667%; }
  .width-12-md   { --basis: 100%; }
  .width-min-md  { --shrink: 0; }
  .width-auto-md { --grow: 1; --basis: 0; }
}

@media (--breakpoint-lg) {
  .width-1-lg    { --basis: 8.333%; }
  .width-2-lg    { --basis: 16.667%; }
  .width-3-lg    { --basis: 25%; }
  .width-4-lg    { --basis: 33.333%; }
  .width-5-lg    { --basis: 41.667%; }
  .width-6-lg    { --basis: 50%; }
  .width-7-lg    { --basis: 58.333%; }
  .width-8-lg    { --basis: 66.667%; }
  .width-9-lg    { --basis: 75%; }
  .width-10-lg   { --basis: 83.333%; }
  .width-11-lg   { --basis: 91.667%; }
  .width-12-lg   { --basis: 100%; }
  .width-min-lg  { --shrink: 0; }
  .width-auto-lg { --grow: 1; --basis: 0; }
}

/* grow */

.grow-0 { --grow: 0; }
.grow-1 { --grow: 1; }
.grow-2 { --grow: 2; }
.grow-3 { --grow: 3; }
.grow-4 { --grow: 4; }
.grow-5 { --grow: 5; }

/* shrink */

.shrink-0 { --shrink: 0; }
.shrink-1 { --shrink: 1; }

/* order */

.order-first, .order-first-xs { order: -1; }
.order-last,  .order-last-xs  { order: 1; }

@media (--breakpoint-sm) {
  .order-first-sm { order: -1; }
  .order-last-sm  { order: 1; }
}

@media (--breakpoint-md) {
  .order-first-md { order: -1;}
  .order-last-md  { order: 1;}
}

@media (--breakpoint-lg) {
  .order-first-lg { order: -1;}
  .order-last-lg  { order: 1;}
}

/* direction */

.row            { --direction: row; }
.reverse        { --direction: row-reverse; }
.column         { --direction: column; }
.column.reverse { --direction: column-reverse; }

@media (--breakpoint-sm) {
  .row-sm    { --direction: row; }
  .column-sm { --direction: column; }
}

@media (--breakpoint-md) {
  .row-md    { --direction: row; }
  .column-md { --direction: column; }
}

@media (--breakpoint-lg) {
  .row-lg    { --direction: row; }
  .column-lg { --direction: column; }
}

/* offset */

.offset-1, .offset-1-xs { margin-left: 8.333%; }
.offset-2, .offset-2-xs { margin-left: 16.667%; }
.offset-3, .offset-3-xs { margin-left: 25%; }
.offset-4, .offset-4-xs { margin-left: 33.333%; }
.offset-5, .offset-5-xs { margin-left: 41.667%; }
.offset-6, .offset-6-xs { margin-left: 50%; }
.offset-7, .offset-7-xs { margin-left: 58.333%; }
.offset-8, .offset-8-xs { margin-left: 66.667%; }
.offset-9, .offset-9-xs { margin-left: 75%; }
.offset-10, .offset-10-xs { margin-left: 83.333%; }
.offset-11, .offset-11-xs { margin-left: 91.667%; }

@media (--breakpoint-sm) {
  .offset-1-sm { margin-left: 8.333%; }
  .offset-2-sm { margin-left: 16.667%; }
  .offset-3-sm { margin-left: 25%; }
  .offset-4-sm { margin-left: 33.333%; }
  .offset-5-sm { margin-left: 41.667%; }
  .offset-6-sm { margin-left: 50%; }
  .offset-7-sm { margin-left: 58.333%; }
  .offset-8-sm { margin-left: 66.667%; }
  .offset-9-sm { margin-left: 75%; }
  .offset-10-sm { margin-left: 83.333%; }
  .offset-11-sm { margin-left: 91.667%; }
}

@media (--breakpoint-md) {
  .offset-1-md { margin-left: 8.333%; }
  .offset-2-md { margin-left: 16.667%; }
  .offset-3-md { margin-left: 25%; }
  .offset-4-md { margin-left: 33.333%; }
  .offset-5-md { margin-left: 41.667%; }
  .offset-6-md { margin-left: 50%; }
  .offset-7-md { margin-left: 58.333%; }
  .offset-8-md { margin-left: 66.667%; }
  .offset-9-md { margin-left: 75%; }
  .offset-10-md { margin-left: 83.333%; }
  .offset-11-md { margin-left: 91.667%; }
}

@media (--breakpoint-lg) {
  .offset-1-lg { margin-left: 8.333%; }
  .offset-2-lg { margin-left: 16.667%; }
  .offset-3-lg { margin-left: 25%; }
  .offset-4-lg { margin-left: 33.333%; }
  .offset-5-lg { margin-left: 41.667%; }
  .offset-6-lg { margin-left: 50%; }
  .offset-7-lg { margin-left: 58.333%; }
  .offset-8-lg { margin-left: 66.667%; }
  .offset-9-lg { margin-left: 75%; }
  .offset-10-lg { margin-left: 83.333%; }
  .offset-11-lg { margin-left: 91.667%; }
}
