/* flex gap */
/* ----- ----- ----- ----- ----- */

.flex,
.display-flex {
	--gap: 0;
  gap: var(--gap);
}

/* grid gap */
/* ----- ----- ----- ----- ----- */

.grid,
.display-grid {
  --gap: 0;
  grid-gap: var(--gap);
}

/* modifiers, applies to flex and grid */
/* ----- ----- ----- ----- ----- */

.gap-0 { --gap: 0; }
.gap-1 { --gap: 1em; }
.gap-1\.5 { --gap: 1.5em; }
.gap-2 { --gap: 2em; }
.gap-3 { --gap: 3em; }
.gap-4 { --gap: 4em; }
.gap-5 { --gap: 5em; }

@media (--breakpoint-sm) {
  .gap-0-sm { --gap: 0; }
  .gap-1-sm { --gap: 1em; }
  .gap-1\.5-sm { --gap: 1.5em; }
  .gap-2-sm { --gap: 2em; }
  .gap-3-sm { --gap: 3em; }
  .gap-4-sm { --gap: 4em; }
  .gap-5-sm { --gap: 5em; }
}
@media (--breakpoint-md) {
  .gap-0-md { --gap: 0; }
  .gap-1-md { --gap: 1em; }
  .gap-1\.5-md { --gap: 1.5em; }
  .gap-2-md { --gap: 2em; }
  .gap-3-md { --gap: 3em; }
  .gap-4-md { --gap: 4em; }
  .gap-5-md { --gap: 5em; }
}
@media (--breakpoint-lg) {
  .gap-0-lg { --gap: 0; }
  .gap-1-lg { --gap: 1em; }
  .gap-1\.5-lg { --gap: 1.5em; }
  .gap-2-lg { --gap: 2em; }
  .gap-3-lg { --gap: 3em; }
  .gap-4-lg { --gap: 4em; }
  .gap-5-lg { --gap: 5em; }
}
