grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

/** --------------- column width --------------- */

[width="2"] {
  grid-column-end: span 2;
}

[width="3"] {
  grid-column-end: span 3;
}

[width="4"] {
  grid-column-end: span 4;
}

[width="5"] {
  grid-column-end: span 5;
}

[width="6"] {
  grid-column-end: span 6;
}

[width="7"] {
  grid-column-end: span 7;
}

[width="8"] {
  grid-column-end: span 8;
}

[width="9"] {
  grid-column-end: span 9;
}

[width="10"] {
  grid-column-end: span 10;
}

[width="11"] {
  grid-column-end: span 11;
}

[width="12"] {
  grid-column-end: span 12;
}

/** --------------- column height --------------- */

[height="2"] {
  grid-row-end: span 2;
}

[height="3"] {
  grid-row-end: span 3;
}

[height="4"] {
  grid-row-end: span 4;
}

[height="5"] {
  grid-row-end: span 5;
}

[height="6"] {
  grid-row-end: span 6;
}

[height="7"] {
  grid-row-end: span 7;
}

[height="8"] {
  grid-row-end: span 8;
}

[height="9"] {
  grid-row-end: span 9;
}

[height="10"] {
  grid-row-end: span 10;
}
